<tr>
    <td><%= ID %> </td>
    <td><%= name %></td>
    <td><%= author %> </td>
    <td><%= publisher %> </td>
    <td><%= qty %></td>
    <td><button class="btn-primary">Modify</button></td>
    <td><button class="btn-warning">Delete</button></td>
  </tr>